<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Learner a education bootstrap Website Template | Single-Page :: w3layouts</title>
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
     <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/main.css" rel="stylesheet" type="text/css" media="all" />
<!-- start plugins -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/anim.js"></script>

<!----font-Awesome----->
   	<link rel="stylesheet" href="fonts/css/font-awesome.min.css">
<!----font-Awesome----->
	<link rel="shortcut icon" href="images/robodarshan.jpg">
</head>
<body>
<div class="header_bg1">
<div class="container">
	<div class="row header">
		<div class="logo navbar-left">
			<h1><a href="index.html">Robodarshan </a></h1>
		</div>
		<div class="h_search navbar-right">
			<form>
				<input type="text" class="text" value="Enter text here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter text here';}">
				<input type="submit" value="search">
			</form>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="row h_menu">
		<nav class="navbar navbar-default navbar-left" role="navigation">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		    </div>
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="index.html">Home</a></li>
		        <li><a href="technology.html">Tutorials</a></li>
		        <li><a href="about.html">About</a></li>
		        <li><a href="blog.html">Blog</a></li>
				<li><a href="events.html">Events</a></li>
		        <li><a href="contact.html">Contact</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		    <!-- start soc_icons -->
		</nav>
		<div class="soc_icons navbar-right">
			<ul class="list-unstyled text-center">
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				<li><a href="#"><i class="fa fa-youtube"></i></a></li>
				<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
			</ul>	
		</div>
	</div>
	<div class="clearfix"></div>
</div>
</div>
<div class="main_bg"><!-- start main -->
	<div class="container">
		<div class="about details row">
			<h2>DIY V3.0</h2>
			<div id="wrap">
					<img src="images/1.png" alt="1" id="3"/>
					<img src="images/2.png" alt="2" id="2" />
					<img src="images/3.png" alt="3" class="is-showing" id="1" />
					<img src="images/4.png" alt="its back" id="4" />
					<img src="images/5.png" alt="DIY 2014" id="5"/>
					<img src="images/7.png" alt="COMING SOON..." id='6' /></a>
				</div>
				<!--<div class="blog_list">
					  <ul class="list-unstyled">
						<li><i class="fa fa-calendar-o"></i><span>June 3, 2013</span></li>
						<li><a href="#"><i class="fa fa-comment"></i><span>Comments</span></a></li>
				  		<li><a href="#"><i class="fa fa-user"></i><span>Admin</span></a></li>
				  		<li><a href="#"><i class="fa fa-thumbs-o-up"><span>Like</span></a></li><span>12</span></i>
					  </ul>
				</div>-->
			<h3>THE 'BLACK PEARL' LOOT</h3>
			<p class="para">Long time ago, there was a pirate ship called <b>''BLACK PEARL''</b> that went on travelling seven seas, stealing and looting gold and silver.</p>
			<p class="para">Like his daily routine, <b>Jack Sparrow had gone fishing in the 'Adventure Sea'</b> after having dinner and bidding adieu to his sweet wife. The fishing season is not going good for many days and Jack is sad because of that. But today is different because today you are going to accompany Jack in his night venture... </p>
			<p class="para">Earlier in the day <b>'Black Pearl'</b> had sunk and its treasures are floating on the ocean surface untouched. Jack thanks God and hurries to collect the treasures. But he has to escape from the coastal guards.</p>
			<p class="para">But fishing is Jack's wine and he can't leave fishing and go hunting the treasures. 
You as Jack's friend show your robotic skills and <b>make a manual bot which would collect the floating treasures one by one avoiding any obstacles(if any) on the ocean surface and deposit them on the surrounding land.</b> Help Jack and collect as many treasures as you can in the least time because with increase in time there is increasing amount of risk in the treasures getting looted. Then it would be a great weekend with baked prawn and roasted tuna and a glass of Jack Daniel!!!
			</p>
			<p class="para"><b>!!!!!DO IT YOURSELF!!!!!</b></p>
			<h3>Rules</h3>
			<p class="para">Coming soon</p>
			<p class="para">Coming soon!!! </p>
			<h3>Arena</h3>
			<img src="images/arena.jpg" alt="Arena"/>
			<h3>Dimensions</h3>
			<p class="para">Coming soon</p>
			<p class="para">Coming soon!!! </p>
			<h3>Prizes</h3>
			<div class="col-md-3 images_1_of_4 bg1 text-center">
				<span class="bg"><i class="fa fa-gift"></i> </span>
			</div>
			<br />
			<p class="para">Coming soon</p>
			<p class="para">Coming soon!!! </p>
		</div>
	</div>
</div><!-- end main -->
<div class="footer_bg"><!-- start footer -->
	<div class="container">
		<div class="row  footer">
			<div class="copy text-center">
				<p class="link"><span>&#169; All rights reserved | Design by&nbsp;<a href="http://w3layouts.com/"> Alfaz, Binayak, Ankit, Souvik</a></span></p>
			</div>
		</div>
	</div>
</div>

</body>
</html>